/* You can add global styles to this file, and also import other style files */

body {
    background-color: green;
    color: black; 
}
.paradas_transantiago {
    border: 5px solid black;
    border-collapse: collapse black;
    background-color: white;
 }
tr, th{
    padding: 10px ;
} 