<table class="paradas_transantiago" style="width: 100%">

    <thead class="">
        <tr>
            <th> id </th>
            <th> Parada </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let valores of data.results">
            <th>{{valores.stop_id}}</th>
            <th>{{valores.stop_name}}</th>
        </tr>
    </tbody>
</table>